{% extends 'shop/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
Your shopping cart
{% endblock title %}

{% block content %}

<div class="px-5 ">
{% for msg in messages %}
    <div class="alert alert-success " role="alert">
        <strong class="d-flex justify-content-center"> {{ msg }} </strong>
    </div>
{% endfor %}
</div>

{% with total_items=cart|length %}
    {% if total_items > 0%}

        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-8 table-responsive mb-5">
                    <table class="table table-bordered text-center mb-0">
                        <thead class="bg-secondary text-dark">
                            <tr>
                                <th>Товар</th>
                                <th>Вартість</th>
                                <th>Кількість</th>
                                <th>Загальна вартість</th>
                                <th>Видалення</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr>
                                            <td class="align-middle"><a href="{{ product.get_absolute_url }}">
                                                <img src="{% if product.image %}{{ product.image.url }}
                                                {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                                alt="" style="width: 50px;"></a>{{ product.name }}
                                            </td>
                                            <td class="align-middle">{{ item.price }} грн</td>
                                            <td class="align-middle">
                                                <div class="input-group quantity mx-auto" style="width: 100px;">

                                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">

                                                </div>
                                            </td>
                                            <td class="align-middle">{{ item.total_price }} грн</td>
                                            <td class="align-middle">
                                                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                                    <button type="submit" class="btn btn-sm btn-primary" value="delete">Видалити</button>
                                                    {% csrf_token %}
                                                </form>
                                            </td>
                                        </tr>
                                    {% endwith %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <form class="mb-5" action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-4" placeholder="Промокод">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Застосувати промокод</button>
                            </div>
                        </div>
                    </form>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Загальна вартість замовлення</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Вартість замовлення:</h6>
                                <h6 class="font-weight-medium">{{ cart.get_total_price }} грн</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Доставка</h6>
                                <h6 class="font-weight-medium">Безкоштовна</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Загальна вартість</h5>
                                <h5 class="font-weight-bold">{{ cart.get_total_price }} грн</h5>
                            </div>
                            {% with total_items=cart|length %}
                                {% if total_items > 0%}
                                    <a href="{% url 'orders:order_create' %}" class="btn btn-block btn-primary my-3 py-3">Оформити замовлення</a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="container-fluid p-5">
        <div class="d-flex justify-content-center pb-2">
            <h5>Кошик пустий</h5>
        </div>
        <div class="d-flex justify-content-center pb-5">
            <p><strong>Додайте до нього товари, щоб можна було оформити замовлення.</strong></p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'shop:product_list' %}" class="btn essence-btn">Продовжити купування</a>
        </div>
    </div>
    {% endif %}
{% endwith %}
 
{% endblock content %}