{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid pt-5">
    <div class="d-flex justify-content-center">
        <h5>Sneakers World - мультибрендовий інтернет-магазин взуття.</h5>
    </div>
    <div>
        <p class="d-flex justify-content-center">Ми не просто черговий інтернет магазин кросівок.
        У SNEAKERS WORLD ми хочемо що б кожному з нас були доступні стильні топові streetwear бренди.</p>
    </div>
    <div class="hero__container bg-img">
    </div>
    <div class=" px-5 pb-5">
        <div>
            <p class="d-flex justify-content-center">
            Протягом багатьох років співпрацюємо тільки з перевіреними торговими марками, 
            а також регулярно оновлюємо свій асортимент новими, недавно випущеними моделями.
            Селекція в нашому магазині дуже ретельно і добре продумана, базується на позачасових зразках, 
            функціональності, натуральних матеріалах і оригінальних рішеннях. 
            Колекції складаються виключно з оригінальних моделей, асортимент яких підібраний для всіх, 
            хто стежить за трендами і орієнтується на стиль поточного сезону. 
            Стріт стайл знаходиться сьогодні на піку популярності не тільки серед молоді, 
            але і більш старшого покоління за рахунок своїх практичних і стильних дизайнерських характеристик. 
            Виробники кожен сезон випускають модний одяг з урахуванням трендових кольорів і стилів. 
            Крім того, що в такому одязі і взутті Ви завжди будете виглядати розкішно і стильно, 
            практичні переваги не поступаються моді. Вся брендове взуття і одяг виготовляється з використанням 
            високоякісних матеріалів і сучасних технологій, які визначають її майбутнє призначення.
            </p>
        </div>
        <div>
            <b class="d-flex justify-content-center py-2">
            Перед кожним новим сезоном ми детально вивчаємо каталоги від наших партнерів, 
            щоб вибрати найцікавіші та рідкісні пари. Ми боремося за кожну партію, доводячи що наш ринок вартий уваги!
            </b>
        </div>
    </div>
</div>
{% endblock content %}