{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h5>ДОСТАВКА</h5>
    </div>
    <div>
        <p>
                    Доставка замовлень здійснюється службами - <strong> Meest ПОШТА, Укрпошта та Нова пошта.</strong> Перелік відділень, що працюють, оновлюється щодня.<br>

                        Наразі, доставка здійснюється по всій території, де це можливо та безпечно.<br>
                        Забір посилок здійснюється кур'єром з нашого складу, вартість послуги становить 35 грн для Нової пошти та 25 грн для Укрпошти (якщо сума замовлення менша ніж 2500 грн).<br>

                        <a class="" href="https://ua.meest.com/"> Meest ПОШТА<alt=""></a> - безкоштовна доставка до відділень та міні-відділень замовлень вартістю понад 2500 грн. На відділенні Meest ПОШТА замовлення зберігається до 5 робочих днів, після - автоматично повертається назад на склад. Огляд посилок на відділеннях і партнерських відділеннях перед оплатою можливий. Оплата за посилку здійснюється по передоплаті, у безготівковому розрахунку.<br>

                        <a class="" href="https://novaposhta.ua/"> Нова пошта <alt=""></a> - безкоштовна доставка на відділення, поштомат замовлень від 2500 грн. Кур'єром - коштом отримувача (примірка заборонена, дозволяється лише оглянути товар в присутності кур'єра). Ваше замовлення зберігається у відділенні Нова пошта до 7 робочих днів, на 7-й день замовлення автоматично повертається назад на склад.<br>


                        <a class="" href="https://www.ukrposhta.ua/ua"> Укрпошта<alt=""></a> - безкоштовна доставка на відділення замовлень вартістю понад 2500 грн. Ваше замовлення зберігається на відділеннях "Укрпошта" протягом 7 календарних днів безкоштовно (не включаючи день прибуття посилки на відділення), на восьмий - замовлення автоматично повертається назад на склад.<br>

                        Для отримання відправлення необхідний паспорт або посвідчення особи.<br>

                        Відправка товару здійснюється від 1 до 5 робочих днів після оплати Вами замовлення.<br>

                        Можливі затримки з відправленням товару через воєнний стан та масштабні повітряні тривоги.<br></p>

                    <b>Перевіряйте товар при отриманні в присутності працівника служби доставки. Sneakers World не гарантує вирішення спірних ситуацій з товаром, якщо товар не був перевірений при отриманні.</b>

    </div>
{% endblock %}