{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h5>Найбільш популярні питання</h5>
    </div>
    <div>
        <b>Чи потрібно реєструватися, щоб зробити замовлення?</b>
        <p>Ні, Ви можете оформити замовлення без реєстрації.</p>

        <b>Який термін доставки товару?</b>
        <p>Ваша посилка буде доставлена до 7 робочих днів з моменту відправки замовлення.</p>

        <b>Яка вартість доставки?</b>
        <p>Оплата при отриманні - 79 грн + 2% від вартості замовлення + 20 грн.<p>
        <p>Онлайн оплата (передплата) - доставка до відділень Нової Пошти - 79грн., для замовлень від 2000грн. - безкоштовна, кур'єрська доставка- 100грн., для замовлень від 2000грн. - безкоштовна.</p>

        <b>Як я можу оплатити замовлення?</b>
        <p>Оплата при отриманні</p>
        <p>Оплата онлайн</p>

        <b>Які документи будуть надані разом із замовленням?</b>
        <p>Разом із замовленими товарами Ви отримаєте клієнтський інвойс, також інвойс буде висланий Вам на електронну пошту, яку ви вкажете при оформленні замовлення. Ви отримаєте підтвердження транзакції на електронну пошту, якщо сплачуєте онлайн. </p>

        <b>Які умови доставки замовлення?</b>
        <p>У момент отримання замовлення перед оплатою товару Ви можете відкрити посилку і оглянути доставлений товар, перевірити на наявність всіх позицій і оцінити якість і оригінальність товару.</p>

        <b>Умови повернення товару?</b>
        <p>Повернення можливе, якщо товар не був у споживанні, збережено його товарний вид, споживчі властивості, пломби, фабричні ярлики, не був пошкоджений, є інвойс</p>
        <p>Заповніть заяву на повернення, обов'язкові поля: ПІБ, адреса і т.д., відзначте позиції, які повертаєте, суму і причину повернення.</p>
                            
    </div>
</div>
{% endblock %}