{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h5>ОПЛАТА</h5>
    </div>
    <div>
    <p> Ми пропонуємо 2 способи оплатити Ваше замовлення: </p>
    <p> 1) <b> Післяплата </b> - оплата при отриманні посилки </p>

        <li> Мінімальна передоплата в розмірі 100 грн </li>
        <li> Комісію оплачує клієнт, яка становить 20 грн + 2% від ціни товару. </li>
        <li> Передоплата вираховується із суми післяплати. </li>

    <p class="pt-4"> 2) <b> Оплата онлайн </b> </p>
        <li> При оплаті на карту Ви не переплачуєте комісію поштової служби, яка становить 20 грн + 2% від ціни товару. </li>
        <li> Ви маєте можливість здійснити оплату товару перерахуванням грошей на картку в будь-якому його відділенні (в касі або через термінал самообслуговування), або через систему онлайн банкінгу. При підтвердженні замовлення наш менеджер повідомить Вам необхідні дані для переказу. 
        Доставка товару за такого способу оплати здійснюється за умови 100% передоплати. </li><br>
    <b style="color:red;"> Увага: додаткові комісії електронних систем і грошових переказів через касу, оплачуються покупцем в момент оплати.</b>

                    
    </div>
</div>
{% endblock %}