{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h5>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</h5>
    </div>
    <div>
        <p>Інтернет-магазин Sneakers World з великою повагою ставиться до конфіденційної (персональної) інформації всіх без винятку осіб, які відвідали сайт, а також тих, хто користується наданими сайтом послугами. У зв'язку з чим, ми прагнемо захищати конфіденційність персональних даних (відомостей чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована), тим самим створивши і забезпечивши максимально комфортні умови використання сервісів Сайту кожному Користувачеві.</p>
        <h6>ЗАГАЛЬНІ ПОЛОЖЕННЯ</h6>
        <span>1.1.</span>
        <p>Згідно Закону України «Про захист персональних даних» від 01 червня 2010 року № 2297-VI(надалі Закон) під персональними даними розуміють відомості чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована. Згідно Політики конфіденційності в поняття "особистої інформації" входить інформація, або частина інформації, котра дозволяє Вас ідентифікувати. Як правило сюди входить прізвище, ім’я та по-батькові, псевдонім (нік), адреса електронної пошти, адреса для доставки та номер телефону. Такі відомості ми можемо отримати безпосередньо від Вас, наприклад, при реєстрації на сайті, наданні контактних даних, інформації отриманої із банківської картки або платежів, а також іншу особисту інформацію, яку Ви добровільно надали нам.</p>

        <span>1.2.</span>
        <p>Користуючись сайтом або купуючи товар, пропонований на сайті, а також відповідаючи на необхідні питання в анкеті при реєстрації або оформленні покупки, Користувач підтверджує, що дає згоду інтернет-магазину Sneakers World та уповноваженим ним особам на обробку персональних даних, а також означає згоду з цією Політикою конфіденційості та умовами обробки персональних даних Користувача. Обробка персональних даних здійснюється відкрито і прозоро із застосуванням засобів та у спосіб, що відповідають визначеним цілям такої обробки.</p>

        <span>1.3.</span>
        <p>У випадку незгоди з умовами Політики Користувач повинен припинити використання сайту інтернет-магазину Sneakers World.</p>

        <span>1.4.</span>
        <p>Ця Політика застосовується тільки до сайту інтернет-магазину Sneakers World. Інтернет-магазин Sneakers World не контролює і не несе відповідальність за сайти третіх осіб, на які Користувач може перейти по посиланнях, доступним на сайті інтернет-магазину Sneakers World.</p>

        <span>1.5.</span>
        <p>Персональні дані мають бути точними, достовірними та оновлюватися в міру потреби, визначеної метою їх обробки. Склад та зміст персональних даних мають бути відповідними, адекватними та ненадмірними стосовно визначеної мети їх обробки. Адміністрація сайту не перевіряє достовірність персональних даних, що надаються Користувачем сайту Інтернет-магазину.</p>

        <span>1.6.</span>
        <p>Персональні дані можуть надаватися Користувачем самостійно або їх збір може автоматично здійснювати сайт при його використанні. Якщо не вказано інше, сайт Sneakers World. використовує файли «cookie» (або інші засоби відстеження) для ідентифікації користувачів і запам'ятовування встановлених ними глобальних параметрів налаштування виключно в цілях надання послуги Користувачеві.</p>

        <span>1.7.</span>
        <p>Користувач визнає, що у разі недбалого ставлення самим Користувачем до безпечного зберігання свого логіна і пароля, що дає доступ до його персональних даних, треті особи можуть отримати несанкціонований доступ до облікового запису, персональних і інших даних Користувача. Інтернет-магазин Sneakers World не несе відповідальність за збитки завдані таким доступом. Ми рекомендуємо Користувачам використовувати складні паролі, які складаються з цифр і букв.</p>

        <h6>ВИКОРИСТАННЯ ТА МЕТА ЗБОРУ ПЕРСОНАЛЬНИХ ДАНИХ</h6>
        <span>2.1.</span>
        <p>Особиста інформація відвідувачів сайту, зібрана при реєстрації, використовується Інтернет-магазином Sneakers World для надання послуг у відповідності з Вашими потребами, в першу чергу для надання послуг з продажу і доставки замовлених Вами товарів, а також для відповідей на Ваші запитання. Також ми можемо використовувати Вашу контактну інформацію в поштових відправленнях, а саме повідомляти Вас про нові можливості, акції та інші новини. Інтернет-магазин Sneakers World збирає дані для зв'язку з Користувачем, в тому числі подання відповідного повідомлення про надання послуги, інформування Користувача про наявність товару, підтвердження замовлення, доставки замовлених Користувачем товарів, для зв'язку кур'єрської служби з Користувачем, а також для обробки запитів і заявок від Користувача.</p>

        <span>2.2.</span>
        <p>До обслуговування даних користувачів належать збір, реєстрація, накопичення, зберігання, адаптація, зміна, оновлення, використання (в тому числі передача партнерам, в тому числі, залученим як спеціалізовані ресурси, як то, але не обмежуючись, Facebook, Goоglе і тому подібні).</p>

        <span>2.3.</span>
        <p>Ми діємо відповідно до цієї Політики конфіденційності, на підставі Положення про обробку і захист персональних даних та на підставі чинного законодавства України.</p>

        <span>2.4.</span>
        <p>Ми маємо право зберігати Персональні дані стільки, скільки необхідно для реалізації мети, що зазначена у даній Політиці або у строки, встановлені чинним законодавством України або до моменту видалення Вами цих даних.</p>

        <h6>УМОВИ НАДАННЯ ДОСТУПУ ДО ІНФОРМАЦІЇ</h6>
        <span>3.1.</span>
        <p>Ми не передаємо персональні дані Користувача третім особам крім випадків визначених законодавством України. Надання доступу до особистої інформації іншим компаніям і приватним особам можливе лише за таких наступних обставин: • має місце наявність дозволу Користувача. Для передачі будь-якої конфіденційної інформації потрібна явна згода Користувача. • у випадках визначених чинним законодавством України, а також у випадках запобігання злочину або завдання шкоди нам або третім особам, в інтересах національної безпеки, національного добробуту та прав людини.</p>

        <span>3.2.</span>
        <p>Розкриття персональних даних Користувача проводиться при замовленні Користувачем товарів в інтернет-магазині Sneakers World. Зокрема Користувач погоджується з тим, що інтернет-магазин Sneakers World має право передавати персональні дані кур'єрським службам, організаціям поштового зв'язку, операторам електрозв'язку, виключно з метою виконання замовлення Користувача, оформленого на сайті інтернет-магазину Sneakers World, включаючи доставку Товару.</p>

        <span>3.3</span>
        <p>Ми вживаємо всіх необхідних заходів для захисту даних від несанкціонованого доступу, зміни, розкриття чи знищення. До цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання та обробки даних і заходів безпеки, включаючи відповідне шифрування і заходи щодо забезпечення фізичної безпеки даних для запобігання неавторизованого доступу до систем, в яких ми зберігаємо особисті дані.</p>


        <h6>ЗМІНА ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</h6>
        <span>4.1.</span>
        <p>Користувач приймає умови цієї політики конфіденційності і враховує, що дана політика конфіденційності може час від часу змінюватися. Зміни, що вносяться до політики конфіденційності, публікуються на цій сторінці. Будь ласка, періодично переглядайте ці умови, щоб бути поінформованими про те, як інтернет-магазин Sneakers World захищає персональні дані своїх користувачів.</p>

        <h6>ЗВОРОТНІЙ ЗВ'ЯЗОК</h6>
        <p>Всі пропозиції або питання з приводу цієї Політики конфіденційності, слід надсилати в службу підтримки користувачів інтернет-магазину Sneakers World, використовуючи електронну адресу: <strong>sneakersoverworld@gmail.com</strong></p>
    </div>
</div>
{% endblock %}