{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h5>ПОВЕРНЕННЯ ОБМІН / ТОВАРУ</h5>
    </div>
    <div>
    <p> Якщо вам не підійшов розмір, колір, або ж ви виявили інші проблеми, впродовж 14 днів після покупки, ви можете повернути нам товар або обміняти на інший. </p>
    <p>Потрібно подзвонити на сайт за одним з цих номерів: <u>099 999-99-99</u>, <u>099 999-99-99</u> і в телефонному режимі ми оформимо обмін або повернення товару.</p>
    <p>Доставка оплачується покупцем, у разі повернення або обміну товару. Повернення коштів відбувається протягом 1-3 робочих днів після отримання нами товару, що повертається від вас на склад Нової Пошти. У разі виявлення браку виробництва, доставку оплачуємо ми.</p>
    <b> Умови повернення / обміну: </b>
        <li> відсутність ознак використання товару; </li>
        <li> наявність ярликів;</li>
        <li> річ повинна мати товарний вигляд. </li><br>
    <b> У разі виявлення ознак використання товару, ми залишаємо за собою право на відмову у поверненні коштів. </b>
    <p> Якщо у вас залишились питання, пишіть нам: <u><strong> sneakersoverworld@gmail.com </strong></u> </p>
    </div>
</div>
{% endblock %}