{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h3>Реєстрація</h3>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input type="submit" value="Зареєструватися" class="btn btn-outline-dark mt-4">
                </form>
            <a class="btn btn-outline-dark my-3" href="{% url 'users:login' %}">Увійти в систему</a>
        </div>
    </div>
</div>
{% endblock content %}