{% extends 'shop/base.html' %}
{% block content %}
{% load static%}


{% if request.user.is_authenticated %}
<section id="wishlist-list">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table aa-wishlist-table">
            <form action="#" method="post">
              <div class="table-responsive ">
                <table class="table container">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Товар</th>
                      <th>Вартість</th>
                      <th>Наявність</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  

                  {% for w in w %}
                  {% csrf_token %}
                    <tr>
                      <td class="align-middle">
                      <button style="border: none; background: none;" data-wishlist-product="{{ w.id }}" class="delete-wishlist-product">Видалити</button>
                        {% comment %} <img class="aa-cart-close" src="{% static 'img/close.png' %}" alt=""> {% endcomment %}
                      </td>
                      <td class="align-middle"><a href="{{ w.product.get_absolute_url }}">
                          <img src="{% if w.product.image %}{{ w.product.image.url }}
                          {% else %}{% static 'img/no_image.png' %}{% endif %}"
                          alt="" style="width: 50px;"></a>{{ w.product.name }}
                      </td>
                      <td class="align-middle">{{ w.product.price }} грн.</td>
                      <td class="align-middle">Є в наявності</td>
                      <td class="align-middle"><a href="{% url 'cart:cart_detail' %}" class="aa-add-to-cart-btn">Додати у кошик</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td>
                        <p>
                         Нема товарів в обраному
                        </p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<div class="container-fluid p-5">
  <div class="d-flex justify-content-center p-5">
      <h5>Щоб подивитися товар в обраному, потрібно авторизуватися.</h5>
  </div>
</div>
{% endif %}

{% endblock %}