
<section id="wishlist-list">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table aa-wishlist-table">
            <form action="#" method="post">
              <div class="table-responsive ">
                <table class="table container">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Товар</th>
                      <th>Вартість</th>
                      <th>Наявність</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  
                    <tr>
                      <td>
                      <button style="border: none; background: none;" data-wishlist-product="{{ w.id }}" class="delete-wishlist-product">Delete</button>
                        <img class="aa-cart-close" src="{% static 'img/close.png' %}" alt="">
                      </td>
                      <td><a href="{{w.product.get_absolute_url}}"><img class="aa-cart-title" src="{{w.product.image.url}}"></a></td>
                      <td><a href="{{w.product.get_absolute_url}}">{{ w.product.name }}</a></td>
                      <td>{{ w.product.price }} грн.</td>
                      <td>Є в наявності</td>
                      <td><a href="{% url 'cart:cart_detail' %}" class="aa-add-to-cart-btn">Додати у кошик</a></td>
                    </tr>
                    <tr>
                      <td>
                        <p>
                         No item in wishlist
                        </p>
                      </td>
                    </tr>
                
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
